[Desktop Entry]
Encoding=UTF-8
Name=Link to createProbMaps.py
Type=Link
URL=https://github.com/ciglehart/dtiSegmentation/blob/master/createProbMaps.py
Icon=text-html
